*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #FFFFFF;
}

header{
    height: 208px;
    background-color: #0E0E0E !important; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.image-header img{
    height: 208px;
    opacity: 0.2;
    transform:scale(4.3) translate(49px, 42px);
} 
.header-text {
    margin-top: -162px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: baseline;
}
.find-text{
    font-size: 37.79px;
    line-height: 23.77px;
    margin-right: 60px;
    letter-spacing: calc( 42.79px * -0.045);
}
.find-text,.list-text{
    font-weight: 700;
    color: #FFFFFF;
    z-index: 10;
}
.list-text{
font-size: 14px;
line-height: 20px;
margin-top: 30px;
cursor: pointer;
background-color: transparent !important;
border: none;
text-decoration: none;

}
.list-text:hover{
color: #BBBBBB;
}

.search-section{
    display: flex;
    flex-direction: row;
}
.search-bar{
    display: flex;
    margin: -1rem 2.8rem;
    border: solid 1px #D1D5DB; 
    border-radius: 6px; 
    overflow: hidden; 
    width: fit-content;
    background-color: #FFFFFF; 
    z-index: 10;
}
.search-bar:hover{
    background-color: #D1D5DB;
}
.search-bar:active{
    background-color: #cccc;
}
.search-b {
    width: 342px;
    padding: 10px 10px 10px 40px;
    border: none;
    border-right: solid 1px  #D1D5DB;
    background-color: #FFFFFF;
    background-image: url("./image/Search-Icon.png");
    background-size: 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.search-b::placeholder{
    color: #6B7280;
}

.search-b::placeholder,button{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
button{
    border: none;
    background-color: #F9FAFB !important;
    color: #374151;
    border-radius: 6px;
    width: 120px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
}
.reel-icon{
    width: 70px;
    color: #DFDDDD;
}
.exploring-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #DFDDDD;
    margin-top: 5px;
}
.movie-display {
    display:flex; 
    width: 550px; 
    margin-top: 4rem;
    margin-left: 34px; 
    gap: 16px; 
}

.text-continer{
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.image-poster{
    width: 99px;
    height: auto;
    flex-shrink: 0; 
}
.rating-movie{
    margin-left: 10px; 
}

.movie-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.text-type{
    margin-top: 12px;
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.text-plot{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
    width: 342px;
    line-height: 20px;
    display: block;
    
}
.border-bottom{
    border-bottom: solid 1.5px #E5E7EB;
    width: 100%; 
}  



.plus-icon{
    margin-left: 9px;
    color: #111827;
    cursor: pointer;
}

.watchlist-empty-message,.add-movies{
    font-weight: 700;
}
.watchlist-empty-message{

    font-size: 18px;
    line-height: 28.5px;
    color: #DFDDDD;
}

.add-movies img{
    margin-right: 6px;
}

.watchlist-empty-message .add-movies{
    margin: 7rem;
    padding-left: 3rem;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 404px; 
    font-size: 17px;
}

.add-movies{
    display: flex;
    color: #363636;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.remove-btn{
    cursor: pointer;
}
.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px); 
    text-align: center;
}

.no-results p {
    width: 321px;
    color: #DFDDDD;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    font-weight: 700;
}



@media (min-width: 554px) and (max-width: 766px){
    header {
        height: 200px;
        width: 100vw;
    }
    .image-header img  {
        width: 30%; 
        transform:scale(3.9) translate(61px, 39px)
    }
}

@media (min-width: 767px) and (max-width: 804px) {
    header {
        height: 200px;
        width: 100vw;
    }
    .image-header img  {
        width: 26%; 
        transform:scale(3.9) translate(75px, 39px)
    }
    .header-text{
    margin-right: 80px;
    }
.search-bar{
    margin-left: 7rem;
    margin-bottom: 20px;

}
    .search-b {
        width: 380px;
        padding: 10px 10px 10px 40px;
        background-size: 16px;
        background-position: 10px center;
        font-size: 14px;
    }

    .search-bar button {
        width: 110px;
        font-size: 14px;
    }

}

@media (min-width: 805px) and (max-width: 950px){
    header {
        height: 200px;
        width: 100vw;
    }
    .image-header img  {
        width: 26%; 
        transform:scale(4.2) translate(73px, 42px);
    }
    .search-bar{
        margin-left: 10rem;
        margin-bottom: 20px;
    
    }
    .search-b {
            width: 380px;
            padding: 10px 10px 10px 40px;
            background-size: 16px;
            background-position: 10px center;
            font-size: 14px;
        }
    
        .search-bar button {
            width: 110px;
            font-size: 14px;
        }
}

@media (min-width: 951px) and (max-width: 1095px){
    header {
        height: 200px;
        width: 100vw;
    }
    .image-header img  {
        width: 24%; 
        transform:scale(4.4) translate(88px, 42px);
    }
    .search-bar{
        margin-left: 10rem;
        margin-bottom: 20px;
    
    }
    .search-b {
            width: 380px;
            padding: 10px 10px 10px 40px;
            background-size: 16px;
            background-position: 10px center;
            font-size: 14px;
        }
    
        .search-bar button {
            width: 110px;
            font-size: 14px;
        }
}

@media (min-width: 1096px){
    header {
        height: 200px;
        width: 100vw;
    }
    .image-header img  {
        width: 24%; 
        transform:scale(4.4) translate(105px, 42px);
    }

    .search-bar{
        margin-left: 19rem;
    
    }
        .search-b {
            width: 480px;
            padding: 12px 12px 12px 40px;
            background-size: 16px;
            background-position: 10px center;
            font-size: 14px;
        }
    
        .search-bar button {
            width: 120px;
            font-size: 14px;
        }
    
}
